html {
    background-color: blue;
    flex-direction: column;
}

#direita {
    float: right;
}

#login {
    background-color: yellow;
    border-radius: 18px;
    border: 20px solid yellow;
}

#botao_login